<a href="https://colab.research.google.com/github/letpires/CustomerBehavior/blob/main/Case_Data_Science%E2%80%8B_LET%C3%8DCIA_PIRES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pandas profiling

pd.read_csv

#Importações

In [1]:
import pandas as pd


from sklearn.preprocessing import LabelEncoder

#Preparação dos dados e análise exploratória

In [2]:
data_url = "https://raw.githubusercontent.com/letpires/CustomerBehavior/main/marketing_campaign.csv"
dados = pd.read_csv(data_url, sep='\t')
dados.head()

     ID  Year_Birth   Education  ... Z_CostContact  Z_Revenue  Response
0  5524        1957  Graduation  ...             3         11         1
1  2174        1954  Graduation  ...             3         11         0
2  4141        1965  Graduation  ...             3         11         0
3  6182        1984  Graduation  ...             3         11         0
4  5324        1981         PhD  ...             3         11         0

[5 rows x 29 columns]

#Clusterização

In [ ]:
lb_make = LabelEncoder()

# Transformando as variáveis de texto para número
dados["Education_code"] = lb_make.fit_transform(dados["Education"])
dados["Marital_Status_code"] = lb_make.fit_transform(dados["Marital_Status"])

## Método de Elbow

Calcular a função de custo, a soma dos quadrados das distâncias internas dos clusters, e traçá-la em um gráfico. O melhor número para a quantidade de clusters é quando a adição de um novo cluster não muda significativamente a função de custo. Isso geralmente acontece no "cotovelo" da linha

In [2]:
Sum_of_squared_distances = []
K = range(1,15)
for k in K:
    km = KMeans(n_clusters=k)
    km = km.fit(df)
    Sum_of_squared_distances.append(km.inertia_)
plt.plot(K, Sum_of_squared_distances, 'bx-')
plt.xlabel('k')
plt.ylabel('Sum_of_squared_distances')
plt.title('Elbow Method For Optimal k')
plt.show()